@font-face {
    font-family: Merriweather;
    src: url("../Merriweather.ttf");
}

@media only screen and (min-width: 1200px) and (max-width: 1900px)  {
    body{
        padding: 0;
        margin: 0;
        background-color: #1e1e1e;
        text-align: center;
        color: white;
        font-size: 22px;
        letter-spacing: 2px;
        font-family: Merriweather;
    }
    
    #photo{
        width: 50%;
        margin: auto;
        margin-top: 3%;
    }
    
    #photo img{
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
    
    #text{
        margin: 3% auto;
        width: 715px;
        background-color: #757575;
        text-align: center;
        padding: 1%;
    }
}